@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  // font-size: 10px;
  margin: 0px;
  padding: 0px;
}

nav {
  font-family: "Roboto Condensed";
  .nav_list {
  }
  li {
    list-style-type: none;
    display: inline;
    font-size: 1rem;
    text-transform: uppercase;
    &:not(:last-child) {
      padding: 10px 10px 10px 0px;
    }
  }
}
.hero_section {
  height: 100vh;
  background-image: url("../assets/images/background-with-festive-gingerbread-cookies-form-ice-cream-stick-covered-with-glaze-copy-space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .top_bar {
    text-align: center;
    background-color: #323333;
    padding: 14px;
    font-family: "Roboto Condensed";
    color: rgb(224, 219, 219);
  }
  .top_section {
    margin-top: 0.3rem;
    padding: 0px 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin-right: 10rem;
      width: 6.3rem;
      img {
        width: inherit;
      }
    }
    .socials {
      display: flex;

      .fab,
      .fab:visited,
      .fav:active,
      .fab:link {
        margin: 5px;
        text-decoration: none;
        padding: 0.5em;
        // color: black;
        background-color: black;
        color: rgb(177, 172, 172);
        font-size: 1.1rem;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
  }
}
a {
  text-decoration: none;
}
.heading-primary {
  font-family: "Fjalla One";
  text-transform: uppercase;
  color: white;
  // width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // &--main {
  //   display: block;
  // }
  // &--sub {
  //   display: block;
  // }
}
