html {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
main {
  min-width: 26.5rem;
}
.hero_flavor {
  min-width: 26.5rem;
  width: 100%;
  height: 65vh;
  background-color: #f8c2db;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 8rem;
  .top_bar {
    text-align: center;
    background-color: #323333;
    padding: 14px;
    font-family: "Roboto Condensed";
    color: rgb(224, 219, 219);
  }
  .top_section {
    // margin-top: 0.3rem;
    // padding: 0px 3rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-top: 0.3rem;
    padding: 0px 1.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo {
      // margin-right: 8.5rem;
      width: 6.3rem;
      img {
        width: inherit;
      }
    }
    .socials {
      display: flex;

      .fab,
      .fab:visited,
      .fav:active,
      .fab:link {
        margin: 5px;
        text-decoration: none;
        padding: 0.5em;
        // color: black;
        background-color: black;
        color: rgb(177, 172, 172);
        font-size: 1.1rem;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
      }
      .fab:hover {
        transform: scale(1.2);
      }
    }
  }
}

.heading-primary2 {
  font-family: "Fjalla One";
  text-transform: uppercase;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;

  &--main {
    // font-size: 3rem;
    // letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  &--sub {
    // font-size: 8rem;
    // letter-spacing: 1.7rem;
  }
}

.main_section_flavors {
  max-width: 70rem;
  min-width: 26.5rem;
  margin: auto;
}
.heading_secondary {
  font-family: "Roboto condensed";
  text-align: center;
  text-transform: uppercase;
  //   margin-bottom: rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: $mainTextColor;
  //   border-bottom: 1px solid black;
}
.articles {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  font-family: "Roboto condensed";
  .article {
    text-align: center;
    padding: 0px 1rem 1rem 1rem;
    width: auto;
    overflow-wrap: break-word;
    margin-bottom: 3.5rem;
    &_title {
      text-transform: uppercase;
      font-size: 1.4rem;
      color: $mainTextColor;
    }
    &_description {
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $mainTextColor;
      width: 250px;
      word-wrap: break-word;
      padding: 10px;
    }
    &_price {
      text-transform: uppercase;
      font-size: 1.5rem;
      color: $mainTextColor;
      font-weight: 800;
    }
  }
}

.heading_hr {
  border: none;
  width: 140px;
  height: 2px;
  background-color: $mainTextColor;
}
.hr_tertiary {
  border: none;
  width: 170px;
  height: 2px;
  background-color: $mainTextColor;
}

.icecream_flavors {
  margin-bottom: 6rem;
}
