@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

nav {
  font-family: "Roboto Condensed";
}

nav li {
  list-style-type: none;
  display: inline;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #4b4848;
}

nav li:not(:last-child) {
  padding: 15px 15px 15px 0px;
}

.hero_section {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/background-with-festive-gingerbread-cookies-form-ice-cream-stick-covered-with-glaze-copy-space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_section .top_bar {
  text-align: center;
  background-color: #323333;
  padding: 14px;
  font-family: "Roboto Condensed";
  color: #e0dbdb;
}

.hero_section .top_section {
  margin-top: 0.3rem;
  padding: 0px 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_section .top_section .logo {
  margin-right: 14rem;
  width: 6.3rem;
}

.hero_section .top_section .logo img {
  width: inherit;
}

.hero_section .top_section .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_section .top_section .socials .fab,
.hero_section .top_section .socials .fab:visited,
.hero_section .top_section .socials .fav:active,
.hero_section .top_section .socials .fab:link {
  margin: 5px;
  text-decoration: none;
  padding: 0.5em;
  background-color: black;
  color: #b1acac;
  font-size: 1.1rem;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.heading-primary {
  font-family: "Fjalla One";
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
}

.heading-primary--main {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2.6rem;
}

.heading-primary--sub {
  font-size: 8rem;
  letter-spacing: 1.7rem;
}

.btn,
.btn:link,
.btn:visited {
  width: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto condensed";
  color: #ffffff;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 5px 1rem;
  font-size: 2rem;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  background-color: #4b4848;
  border: 1px solid #4b4848;
}

li {
  list-style-type: none;
}

.hero_flavor {
  width: 100%;
  height: 65vh;
  background-color: #f8c2db;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}

.hero_flavor .top_bar {
  text-align: center;
  background-color: #323333;
  padding: 14px;
  font-family: "Roboto Condensed";
  color: #e0dbdb;
}

.hero_flavor .top_section {
  margin-top: 0.3rem;
  padding: 0px 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_flavor .top_section .logo {
  margin-right: 14rem;
  width: 6.3rem;
}

.hero_flavor .top_section .logo img {
  width: inherit;
}

.hero_flavor .top_section .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_flavor .top_section .socials .fab,
.hero_flavor .top_section .socials .fab:visited,
.hero_flavor .top_section .socials .fav:active,
.hero_flavor .top_section .socials .fab:link {
  margin: 5px;
  text-decoration: none;
  padding: 0.5em;
  background-color: black;
  color: #b1acac;
  font-size: 1.1rem;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.heading-primary2 {
  font-family: "Fjalla One";
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8vh;
}

.heading-primary2--main {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.heading-primary2--sub {
  font-size: 8rem;
  letter-spacing: 1.7rem;
}

.main_section_flavors {
  border: 1px solid rebeccapurple;
  width: 50rem;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */