@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
// colors
$fullview: 100vh;
$mainTextColor: rgb(75, 72, 72);
body {
  min-width: 26.5rem;
  margin: 0px;
  padding: 0px;
}
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.hero_section {
  min-width: 26.5rem;
  width: 100%;
  height: $fullview;
  background-image: url("../assets/images/background-with-festive-gingerbread-cookies-form-ice-cream-stick-covered-with-glaze-copy-space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .top_bar {
    text-align: center;
    background-color: #323333;
    padding: 14px;
    font-family: "Roboto Condensed";
    color: rgb(224, 219, 219);
  }
  .top_section {
    margin-top: 0.3rem;
    padding: 0px 1.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo {
      width: 6.3rem;
      img {
        width: inherit;
      }
    }
    .socials {
      display: flex;
      .fab,
      .fab:visited,
      .fav:active,
      .fab:link {
        margin: 5px;
        text-decoration: none;
        padding: 0.5em;
        background-color: black;
        color: rgb(177, 172, 172);
        font-size: 1.1rem;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
      }
      .fab:hover {
        transform: scale(1.2);
      }
    }
  }
}

.heading-primary {
  font-family: "Fjalla One";
  text-transform: uppercase;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  // width: auto;
  text-align: center;
  &--main {
    // font-size: 1.8rem;
    // letter-spacing: 0.2rem;
    margin-bottom: 2.6rem;
  }
  &--sub {
    // font-size: min(4rem);
    // font-size: 8rem;
    letter-spacing: 1.7rem;
  }
}

.btn,
.btn:link,
.btn:visited {
  width: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Roboto condensed";
  color: #ffffff;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 5px 1rem;
  font-size: 2rem;
  transition: 0.4s ease-out;
  &:hover {
    background-color: $mainTextColor;
    border: 1px solid $mainTextColor;
  }
}

.main_sections {
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  min-width: 26.5rem;
  margin-bottom: 0px;
  flex-wrap: wrap;

  img {
    width: 50%;
    min-width: 26.5rem;
  }
  .section_paragraph {
    text-align: center;
  }
  .our_flavors {
    margin: 0 auto;
    width: 20rem;
    min-width: 26.5rem;
    color: #4b4848;
    text-transform: uppercase;
    font-family: "roboto condensed";
    letter-spacing: 4px;

    .heading_secondary {
      font-family: "Kaushan Script";
      font-size: 2.7rem;
      letter-spacing: 3px;
    }
    .btn_section {
      display: inline-block;
      border: 2px solid $mainTextColor;
      padding: 10px 20px;
      margin-top: 1.2rem;
      &:hover {
        color: white;
        background-color: $mainTextColor;
      }
    }
  }
}

#section5 {
  background-color: rgb(162, 208, 250);
  img {
    width: 100%;
    min-width: 26.5rem;
  }
}

footer {
  min-width: 26.5rem;
  background-color: black;
  font-family: "roboto condensed";
  .footer_content {
    // max-width: 100rem;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.8rem;
  }
  .footer_info {
    display: flex;
    margin-bottom: 4.8rem;
  }
  .footer_info_section {
    padding: 0px 1rem;
    text-transform: uppercase;
  }
  .headerfour {
    font-size: 1.4rem;
  }
  .copyright {
    margin-left: 1rem;
  }
  .footer_contactsection {
    width: 30rem;
    max-width: 80rem;
    text-transform: uppercase;

    input {
      width: 100%;
      margin-bottom: 1rem;
      border: 2px solid white;
      height: 2rem;
      outline: red;
      background-color: black;
      color: white;
      padding-left: 15px;
      &::placeholder {
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .subscribe_btn {
      border: 2.2px solid white;
      display: block;
      width: 100%;
      text-align: center;
      padding: 0.3rem 0px;
      padding-right: 15px;
      font-size: 2rem;
      margin-bottom: 3.6rem;
      &:hover {
        background-color: $mainTextColor;
      }
    }
    .socials {
      display: flex;
    }
    .socials .fab {
      background-color: white;
      color: black;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 13px;
      font-size: 1rem;
      padding: 5px;
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.white {
  color: white;
  text-shadow: 4px 4px 14px rgba(0, 0, 0, 0.75);
}

@media (max-width: 425px) {
  nav {
    font-family: "Roboto Condensed";
    ul {
      padding: 0px;
      margin: 0px;
    }
    li {
      list-style-type: none;
      display: block;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $mainTextColor;
      transition: 0.3s ease-in-out;
      &:hover {
        color: white;
      }
    }
  }
  .heading-primary--main {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.6rem;
  }
  .heading-primary--sub {
    margin: 0 auto;
    font-size: 6rem;
    letter-spacing: 1.6rem;
  }
}

@media (min-width: 768px) {
  .heading-primary--main {
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.6rem;
  }
  .heading-primary--sub {
    margin: 0 auto;
    font-size: 12rem;
    letter-spacing: 1.6rem;
  }
  nav {
    font-family: "Roboto Condensed";
    ul {
      padding: 0px;
      margin: 0px;
    }
    li {
      list-style-type: none;
      display: inline-block;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $mainTextColor;
      transition: 0.3s ease-in-out;
      &:not(:last-child) {
        padding-right: 39px;
      }
      &:hover {
        color: white;
      }
    }
  }
}
