@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

nav {
  font-family: "Roboto Condensed";
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #4b4848;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav li:not(:last-child) {
  padding-right: 39px;
}

nav li:hover {
  color: white;
}

.hero_section {
  min-width: 20rem;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/background-with-festive-gingerbread-cookies-form-ice-cream-stick-covered-with-glaze-copy-space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_section .top_bar {
  text-align: center;
  background-color: #323333;
  padding: 14px;
  font-family: "Roboto Condensed";
  color: #e0dbdb;
}

.hero_section .top_section {
  margin-top: 0.3rem;
  padding: 0px 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_section .top_section .logo {
  width: 6.3rem;
}

.hero_section .top_section .logo img {
  width: inherit;
}

.hero_section .top_section .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_section .top_section .socials .fab,
.hero_section .top_section .socials .fab:visited,
.hero_section .top_section .socials .fav:active,
.hero_section .top_section .socials .fab:link {
  margin: 5px;
  text-decoration: none;
  padding: 0.5em;
  background-color: black;
  color: #b1acac;
  font-size: 1.1rem;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.hero_section .top_section .socials .fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.heading-primary {
  font-family: "Fjalla One";
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
  min-width: 10rem;
  text-align: center;
}

.heading-primary--main {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2.6rem;
}

.heading-primary--sub {
  font-size: 8rem;
  letter-spacing: 1.7rem;
}

.btn,
.btn:link,
.btn:visited {
  width: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto condensed";
  color: #ffffff;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 5px 1rem;
  font-size: 2rem;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  background-color: #4b4848;
  border: 1px solid #4b4848;
}

.main_sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

.main_sections img {
  width: 50%;
}

.main_sections .section_paragraph {
  padding: 0px 10rem;
}

.main_sections .our_flavors {
  color: #4b4848;
  text-transform: uppercase;
  font-family: "roboto condensed";
  letter-spacing: 4px;
}

.main_sections .our_flavors .heading_secondary {
  font-family: "Kaushan Script";
  font-size: 2.7rem;
  letter-spacing: 3px;
}

.main_sections .our_flavors .btn_section {
  display: inline-block;
  border: 2px solid #4b4848;
  padding: 10px 20px;
  margin-top: 1.2rem;
}

.main_sections .our_flavors .btn_section:hover {
  color: white;
  background-color: #4b4848;
}

#section5 {
  background-color: #a2d0fa;
}

#section5 img {
  width: 100%;
}

footer {
  background-color: black;
  font-family: "roboto condensed";
}

footer .footer_content {
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.8rem;
}

footer .footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4.8rem;
}

footer .footer_info_section {
  padding: 0px 1rem;
  text-transform: uppercase;
}

footer .headerfour {
  font-size: 1.4rem;
}

footer .copyright {
  margin-left: 1rem;
}

footer .footer_contactsection {
  width: 30rem;
  max-width: 80rem;
  text-transform: uppercase;
}

footer .footer_contactsection input {
  width: 100%;
  margin-bottom: 1rem;
  border: 2px solid white;
  height: 2rem;
  outline: red;
  background-color: black;
  color: white;
  padding-left: 15px;
}

footer .footer_contactsection input::-webkit-input-placeholder {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

footer .footer_contactsection input:-ms-input-placeholder {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

footer .footer_contactsection input::-ms-input-placeholder {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

footer .footer_contactsection input::placeholder {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

footer .footer_contactsection .subscribe_btn {
  border: 2.2px solid white;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.3rem 0px;
  padding-right: 15px;
  font-size: 2rem;
  margin-bottom: 3.6rem;
}

footer .footer_contactsection .subscribe_btn:hover {
  background-color: #4b4848;
}

footer .footer_contactsection .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_contactsection .socials .fab {
  background-color: white;
  color: black;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 13px;
  font-size: 1rem;
  padding: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer .footer_contactsection .socials .fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.white {
  color: white;
  text-shadow: 4px 4px 14px rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=style.css.map */